@tailwind base;
@tailwind components;
@tailwind utilities;

body ::-moz-selection {
  /* For Firefox */
  color: rgb(230, 57, 245);
}

body ::selection {
  color: rgb(230, 57, 245);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #43ff64d9;
  border-radius: 15px;
}

.scrollToTop {
  background-color: transparent;
  background-image: white;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px transparent inset;
  transition: 0.5s ease-in-out;
  z-index: 1000;
}

/* Electric Blue: #373e98

Hot Pink: #f16775

Shocking Yellow: #fee36e

Chartreuse-ish: #ceb92c

Darkest Gray: #2a2a2a */
