@tailwind base;
@tailwind components;
@tailwind utilities;

body ::-moz-selection {
  /* For Firefox */
  color: #ffa402;
}

body ::selection {
  color: #ffa402;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #ffa402;
  border-radius: 15px;
}

.scrollToTop {
  background-color: transparent;
  background-image: white;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px transparent inset;
  transition: 0.5s ease-in-out;
  z-index: 1000;
}

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  z-index: 1;
}
.marquee {
  margin: 0 auto;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  right: 0;
  font-weight: 700;
}

.marquee h1 {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
}

.marquee2 h1 {
  animation-delay: 25s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (max-width: 1280px) {
  .marquee h1 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
  }
  .marquee2 h1 {
    animation-delay: 15s;
  }
}
@media only screen and (max-width: 800px) {
  .marquee h1 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
  }
  .marquee2 h1 {
    animation-delay: 20s;
  }
}
